<?xml version="1.0" encoding="UTF-8"?>
<config>
	<modules>
		<Smartie_Fsi>
			<version>1.0.0</version>
		</Smartie_Fsi>
	</modules>
	
	<global>
		<blocks>
			<fsi>
				<class>Smartie_Fsi_Block</class>
			</fsi>
		</blocks>
	</global>
	
	<frontend>
		<layout>
			<updates>
				<fsi>
					<file>fsi.xml</file>
				</fsi>
			</updates>
		</layout>
	</frontend>
</config>